.main {
  display: flex;
  height: 100vh;
}

.navbar {
  background-color: blue !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60px;
}

.navbar-brand {
  margin-right: 0;
}

.navbar-nav i {
  font-size: 20px;
  margin: 10px 0;
}

.navbar-user img {
  width: 20px;
  height: 20px;
}

.mainContent {
  flex: 1;
}
